.omniauth-container {
        box-shadow: 0 0 0 1px #e5e5e5;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        padding: 15px;
    }
    .prepend-top-15 {
        margin-top: 25px;
    }
    .d-block {
        display: block !important;
    }
    label.label-bold {
        font-weight: 600;
    }
    .omniauth-btn {
        margin-bottom: 16px;
        width: 48%;
        padding: 8px;
    }
    .omniauth-container .omniauth-btn img {
        width: 18px;
        height: 18px;
        margin-right: 16px;
    }
    .btn, .project-buttons .stat-text {
        border-radius: 3px;
        font-size: 14px;
        height: 38px;
        font-weight: 400;
        padding: 6px 10px;
        background-color: #fff;
        border-color: #e5e5e5;
        color: #2e2e2e;
        color: #2e2e2e;
    }
    .text-left {
        text-align: left !important;
    }
    .align-items-center, .page-title-holder {
        align-items: center !important;
    }
    .project-buttons .stat-text {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;

        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 20px;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    img {
        vertical-align: middle;
        border-style: none;
    }
    .justify-content-between {
        justify-content: space-between !important;
    }
    .flex-wrap {
        flex-wrap: wrap !important;
    }
    .d-flex, .page-title-holder, .right-sidebar.build-sidebar .trigger-variables-btn-container {
        display: flex !important;
    }