html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 0.87em;
    line-height: 1.4;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.clearfix {
    *zoom: 1;
}

@media only screen and (min-width: 35em) {
    
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
}
@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.column {width:1000px}
body{background:#DDE4EE;transition: all 0.9s ease 0s;-moz-transition: all 0.9s ease 0s;-webkit-transition: all 0.9s ease 0s;-o-transition: all 0.9s ease 0s;}

.header_area{}
.header{background:#023D99}

.top_banner{margin: 15px 0;
text-align: right;}
.logo {margin-top: 6px;}
.maincontent_area{}
.maincontent{padding-left:0px;}
.left_sidebar{margin-top: 15px;}
.smart_img_top{}
.smart_img{}
.smart_text{background: none repeat scroll 0 0 #ccccff;
color: #333333;
font-size: 15px;
font-weight: bold;
padding-left: 1px;
width: 200px;}
.left_menu{}
.left_menu ul{margin:0;padding:0;list-style:none;}
.left_menu ul li{margin-bottom:4px}
.left_menu  b{color: #000;
font-size: 13px;}
a:hover{text-decoration:underline;}
.menu_li{margin-right: 10px;}
.label{background: none repeat scroll 0 0 #ec222e;
border-radius: 50%;
margin-left: 8px;
padding: 5px;}
.col-lg-5{}
.middle_content{background-color: #ffffff;
border-left: 15px solid #dee4f0;
border-right: 15px solid #dee4f0;
min-height: 856px;}
.middle_content_top{}
.middle_content_top  h2 {  background: none repeat scroll 0 0 #023D99;
color: #fff;
font-size: 20px;
padding: 4px;
text-align: center;margin-top: 15px;}
.middle_content_middle{border: 1px solid #b6b6b6;border-radius: 10px;box-shadow: 0 0 2px 0 gray;
margin: 20px auto;padding: 30px 50px 30px 110px;width: 495px;font-size:14px}
.BUTTON_START{margin-top: 6px;
text-align: center;}
.select_level_bg{}
.select_lebel{}
.selectbox{}
.middle_maincontent{padding: 20px 20px 5px 20px;}
.middle_maincontent_img{text-align:center;}
.right_sidebar{margin-top: 15px;}
.right_sidebar_ad{padding:0px}
.right_sidebar_one{background-color: #ffffff;padding: 15px;text-align: center;}
.right_sidebar_two{background-color: #ffffff;
margin-bottom: 15px;
margin-top: 15px;
padding: 1px 15px 50px;}
.right_sidebar_two h2 {
  color: #000;
  font-size: 24px;
}
.right_sidebar_img img {
  float: left;
  margin-right: 12px;
}
.right_sidebar_text h2 {
color: #725597 !important;
font-size: 18px !important;
font-weight: normal !important;
height:10px !important;
}
.right_sidebar_text img {padding-left: 107px;}
.right_sidebar_img_text{}
.right_sidebar_img{}
.right_sidebar_text{}
.right_sidebar_three{background-color: #ffffff;
margin-bottom: 15px;
padding: 15px;
text-align: center;}
.right_sidebar_four {background-color: #ffffff;padding:15px;}
.right_sidebar_two_img {float: left;margin-right: 25px;}
.right_sidebar_two_img p {
    color: #333333;
    font-size: 15px;
    height: 10px;
}
.right_sidebar_two_img_three p {
    color: #333333;
    font-size: 15px;
    height: 10px;
}
.right_sidebar_two_images img {
    padding-left: 18px;
    padding-top: 7px;
}
.right_sidebar_two_text h2 {
    color: #765fa3;
    font-size: 16px;
    height: 5px;
}
.right_sidebar_two_text h3 {
    color: #bebebe;
    font-size: 12px;
}
.right_sidebar_two_text h1 {
    color: #000;
    font-size: 17px;
}
.right_sidebar_two_images{}
.right_sidebar_two_text{}
.fotter_top_area{background: none repeat scroll 0 0 #023D99;}
.footer{margin-top: 15px;padding: 0px 50px;}
.footer_menu{float: left;margin-right: 38px;padding: 10px;width: 212px;border-right: 2px solid #073277 !important;}
.footer_menu ul{margin:0;padding:0;list-style:none;}
.footer_menu ul li{}
.footer_menu:last-child{border-right:none !important;}
.footer_menu ul li a{color: #fff;font-size: 15px;text-decoration: none;}
.footer_menu ul li a:hover{}
.fotter_area{}
.footer_text{color: #000;
font-size: 15px;
font-weight: bold;
margin: 6px auto -6px;
text-align: center;}

.col-lg-7 {
  padding-right: 0;
  width: 58.3333%;
}
.mobile_menu_area {background: none repeat scroll 0 0 #3f5d9b;margin-bottom: -8px;margin-top: 5px;}
.menu{display:none;background:#3F5D9B;}
.container.mobile_menu {
  background: none repeat scroll 0 0 #3f5d9b;
}
.glyphicon {
  color: #fff;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  padding-left: 14px;
  position: relative;
  top: 12px;
}

.slicknav_menu{display:none;}
.read_more {
  padding-top: 25px;
}
.read_more p{background: none repeat scroll 0 0 #ddd;color: #000;float: right;padding: 6px;width: 50px;font-weight: bold;}
.submit_s {float: left;margin-right: 70px;margin-top: 3px}

.for_get {  margin-top: 3px;  padding-top: 4px;float:left;}
.for_get_new {  margin-left: 360px;  padding-top: 7px;}
.middle_content_middle_one {  border: 0px solid #b6b6b6;  border-radius: 0px;  box-shadow: 0 0 2px 0 gray;  margin: 15px auto;  padding: 30px 30px 30px 30px;  width: 95%;font-size: 14px;}
.radio-inline {  margin-bottom: 20px;}
.apnar {  margin-bottom: 10px;  margin-top: -18px;}
.row.margin_user {  margin-bottom: 10px;}
.form_right_one {  padding-bottom: 10px;  padding-right: 10px;}
.middle_content_top a {  color: #fff;}
.padding-top-5 {
    padding-top: 8px;
}
#rmjs-1 {  font-size: 14px;}
.panel-body {  padding-left: 25px !important;  padding-right: 10px !important;}
.login_1545 {  margin-bottom: 0 !important;}

.loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

.loading-image {
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 100;
}