.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: white;
    font-weight: 500;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}